{% extends "base.html" %}

{% block content %}
<!--suppress HtmlUnknownTarget -->

<div class="row">
    <div class="col-lg-4 col-md-4 col-centered">
        <h2 class="page-header"> Advanced Search </h2>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-centered">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/advanced_search" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.vendor_name(class="form-control", placeholder="Name of Vendor", autofocus="autofocus", rows=1) }}
                        </div>
                        <div class="form-group">
                            {{ form.piece_name(class="form-control", placeholder="Name of Piece", rows=1) }}
                        </div>
                         <div class="form-group">
                            {{ form.medium(class="form-control", placeholder="Mediums (e.g canvas, oil paints)", rows=1) }}
                        </div>
                        <div class="form-group">
                            {{ form.price_low(class="form-control", placeholder="Minimum Price", rows=1) }}
                        </div>
                        <div class="form-group">
                            {{ form.price_high(class="form-control", placeholder="Maximum Price", rows=1) }}
                        </div>
                        <div class="form-group">
                            {{ form.width(class="form-control", placeholder="Width (in inches)", rows=1) }}
                        </div>
                        <div class="form-group">
                            {{ form.height(class="form-control", placeholder="Height (in inches)", rows=1) }}
                        </div>
                        <button type="submit" class="btn btn-md btn-block btn-primary" > Search </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-centered">
        <hr>
    </div>
</div>


{% endblock %}

