{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <h2>Untitled - Artist Name</h2>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                <button type="button" class="btn btn-primary btn-md" >
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <hr>
    </div>


    <div class="col-lg-4">
        <a class="text-center" href="#"><div class="img-16-9-container"><img class="img img-responsive img-16-9" src="//placehold.it/1600x900" id="artwork" ></div></a>
        <a class="text-center" href="#"><h6>View larger image</h6></a>
    </div>

    <div class="col-lg-8">
        <div class="row" style="padding-top: 0%">
            <div class="col-lg-3">
                <h5> Time left: </h5>
            </div>
            <div class="col-lg-3">
                <h5>0D 0H 0M 0S</h5>
            </div>
        </div>
        <div class="row" style="padding-top: 2%">
            <div class="col-lg-3">
                <h5> Current bid: </h5>
            </div>
            <div class="col-lg-3">
                <h5>$69.69</h5>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <input class="form-control" type="text" placeholder="Bid"/>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <button class="btn btn-warning">
                    Place bid
                </button>
            </div>
        </div>
        <div class="row" style="padding-top: 2%">
            <div class="col-lg-3">
                <h5>Buy now price:</h5>
            </div>
            <div class="col-lg-3">
                <h5>$999.99</h5>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary">
                    Buy now
                </button>
            </div>
        </div>
        <div class="row" style="padding-top: 2%">
            <div class="col-lg-3">
                <h5>Seller's profile:</h5>
            </div>
            <div class="col-lg-3">
                <a href="#"><h5>flyguy123</h5></a>
            </div>
        </div>
    </div>


</div>

{% endblock %}
