{% extends "base.html" %}

{% block content %}
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="page-header">New Pieces</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img src="static/test_art.jpg"
                         style="width:550px;height:350px;" alt="">
                </a>
                <h3>
                    <a href="#">Artwork Title</a>
                </h3>
                <p>Bid- $0.00</p>
                <p>Buy now- $999.99</p>
            </div>
            <div class="col-md-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img src="static/test_art.jpg"
                         style="width:550px;height:350px;" alt="">
                </a>
                <h3>
                    <a href="#">Artwork Title</a>
                </h3>
                <p>Bid- $0.00</p>
                <p>Buy now- $999.99</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img src="static/test_art.jpg"
                         style="width:550px;height:350px;" alt="">
                </a>
                <h3>
                    <a href="#">Artwork Title</a>
                </h3>
                <p>Bid- $0.00</p>
                <p>Buy now- $999.99</p>
            </div>
            <div class="col-md-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img src="static/test_art.jpg"
                         style="width:550px;height:350px;" alt="">
                </a>
                <h3>
                    <a href="#">Artwork Title</a>
                </h3>
                <p>Bid- $0.00</p>
                <p>Buy now- $999.99</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img src="static/test_art.jpg"
                         style="width:550px;height:350px;" alt="">
                </a>
                <h3>
                    <a href="#">Artwork Title</a>
                </h3>
                <p>Bid- $0.00</p>
                <p>Buy now- $999.99</p>
            </div>
            <div class="col-md-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img src="static/test_art.jpg"
                         style="width:550px;height:350px;" alt="">
                </a>
                <h3>
                    <a href="#">Artwork Title</a>
                </h3>
                <p>Bid- $0.00</p>
                <p>Buy now- $999.99</p>
            </div>
        </div>
        <!-- /.row -->


        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img src="static/test_art.jpg"
                         style="width:550px;height:350px;" alt="">
                </a>
                <h3>
                    <a href="#">Artwork Title</a>
                </h3>
                <p>Bid- $0.00</p>
                <p>Buy now- $999.99</p>
            </div>
            <div class="col-md-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img src="static/test_art.jpg"
                         style="width:550px;height:350px;" alt="">
                </a>
                <h3>
                    <a href="#">Artwork Title</a>
                </h3>
                <p>Bid- $0.00</p>
                <p>Buy now- $999.99</p>
            </div>
        </div>
        <!-- /.row -->


        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img src="static/test_art.jpg"
                         style="width:550px;height:350px;" alt="">
                </a>
                <h3>
                    <a href="#">Artwork Title</a>
                </h3>
                <p>Bid- $0.00</p>
                <p>Buy now- $999.99</p>
            </div>
            <div class="col-md-6 col-sm-4 portfolio-item">
                <a href="#">
                    <img src="static/test_art.jpg"
                         style="width:550px;height:350px;" alt="">
                </a>
                <h3>
                    <a href="#">Artwork Title</a>
                </h3>
                <p>Bid- $0.00</p>
                <p>Buy now- $999.99</p>
            </div>
        </div>
        <!-- /.row -->
    
        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <hr>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}