{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input id="search_field" type="text" class="form-control" placeholder="Piece, artist, medium, price range e.g. 100-250..." autofocus="autofocus">
                            <span class="input-group-addon btn btn-default" id="search_button">Search</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <a href="/advanced-search"><h6>Advanced Search</h6></a>
            </div>
        </div>
        <hr>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
    {%- for row in artworks|slice(5) %}
        <div class="row">
        {%- for artwork in row %}
            {% if (loop.index % 2) == 1 %}
                <div class="col-lg-5 col-lg-offset-1 col-md-6 portfolio-item">
                    <div class="img-16-9-container"><img class="img img-responsive img-16-9" src="/content/artwork_pictures/{{ artwork["photo_path"] }}"/></div>
                    <hr>
                    <h3>
                        <a href="/artwork"> {{ artwork.title }} </a>
                    </h3>
                    <p> Current Bid - ${{ artwork.bid_price|CurrencyFilter }} </p>
                    {%- if artwork.buy_price %}
                        <p> Buy Now - ${{ artwork.buy_price|CurrencyFilter }} </p>
                    {%- endif %}
                </div>
            {%- else %}
                <div class="col-lg-5 col-md-6 portfolio-item">
                    <div class="img-16-9-container"><img class="img img-responsive img-16-9" src="/content/artwork_pictures/{{ artwork["photo_path"] }}"/></div>
                    <hr>
                    <h3>
                        <a href="/artwork"> {{ artwork.title }} </a>
                    </h3>
                     <p> Current Bid - ${{ artwork.bid_price|CurrencyFilter }} </p>
                    {%- if artwork.buy_price %}
                        <p> Buy Now - ${{ artwork.buy_price|CurrencyFilter }} </p>
                    {%- endif %}
                </div>
            {%- endif %}
        {%- endfor %}
        </div>
    {%- endfor %}

    <hr>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        {{ pagination.links }}
    </div>
</div>

<div class="text-center">
    {{ pagination.info }}
</div>
<hr>

{% endblock %}

{% block navbar_selector %}
    <script type="text/javascript">
    $(document).ready(function() {
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    $("#search_button").click(function () {
        var params = {q: $("#search_field").val(), page: 1};
        var paramsEncoded = $.param(params);
        window.location.href = "http://artizanz.com/search?" + paramsEncoded;
    });
    </script>
{% endblock %}
