{% extends "base.html" %}

{% block content %}
<!--suppress HtmlUnknownTarget -->

<div class="row row-centered" style="padding-top: 10%">
    <div class="col-lg-4 col-md-4 col-centered">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2> Password Recovery </h2>
                <hr>
                <form action="/password-reset" method="post">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.email(class="form-control", placeholder="E-Mail Address", autofocus="autofocus", rows=1) }}
                    </div>
                    <button type="submit" class="btn btn-md btn-block btn-primary" > Send Recovery Email </button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
