{% extends "base.html" %}

{% block content %}
<!--suppress HtmlUnknownTarget -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-centered">
            <h2 class="page-header"> Password Recovery </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-centered">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/password-reset" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.email(class="form-control", placeholder="E-Mail Address", autofocus="autofocus", rows=1) }}
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-primary" > Send Recovery Email </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-centered">
            <hr>
        </div>
    </div>
</div>

{% endblock %}
