{% extends "base.html" %}

{% block content %}
<!--suppress HtmlUnknownTarget -->
<!-- Page Header -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
            <form>
                <div class="form-group">
                    <div class="input-group">  
                        <input type="text" class="form-control" placeholder="Search Criteria" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">Search</span>
                    </div>
                </div>
            </form>
            <hr>
        </div>
    </div>
            <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 portfolio-item">
            <a href="#">
                <img src="static/test_art.jpg"
                     style="width:460px;height:300px;" alt="">
            </a>
            <hr>
            <h3>
                <a href="#">Artwork Title</a>
            </h3>
            <p>Bid- $0.00</p>
            <p>Buy now- $999.99</p>
        </div>
        <div class="col-lg-5 col-md-6 portfolio-item">
            <a href="#">
                <img src="static/test_art.jpg"
                     style="width:460px;height:300px;" alt="">
            </a>
            <hr>
            <h3>
                <a href="#">Artwork Title</a>
            </h3>
            <p>Bid- $0.00</p>
            <p>Buy now- $999.99</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 portfolio-item">
            <a href="#">
                <img src="static/test_art.jpg"
                     style="width:460px;height:300px;" alt="">
            </a>
            <hr>
            <h3>
                <a href="#">Artwork Title</a>
            </h3>
            <p>Bid- $0.00</p>
            <p>Buy now- $999.99</p>
        </div>
        <div class="col-lg-5 col-md-6 portfolio-item">
            <a href="#">
                <img src="static/test_art.jpg"
                     style="width:460px;height:300px;" alt="">
            </a>
            <hr>
            <h3>
                <a href="#">Artwork Title</a>
            </h3>
            <p>Bid- $0.00</p>
            <p>Buy now- $999.99</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 portfolio-item">
            <a href="#">
                <img src="static/test_art.jpg"
                     style="width:460px;height:300px;" alt="">
            </a>
            <hr>
            <h3>
                <a href="#">Artwork Title</a>
            </h3>
            <p>Bid- $0.00</p>
            <p>Buy now- $999.99</p>
        </div>
        <div class="col-lg-5 col-md-6 portfolio-item">
            <a href="#">
                <img src="static/test_art.jpg"
                     style="width:460px;height:300px;" alt="">
            </a>
            <hr>
            <h3>
                <a href="#">Artwork Title</a>
            </h3>
            <p>Bid- $0.00</p>
            <p>Buy now- $999.99</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 portfolio-item">
            <a href="#">
                <img src="static/test_art.jpg"
                     style="width:460px;height:300px;" alt="">
            </a>
            <hr>
            <h3>
                <a href="#">Artwork Title</a>
            </h3>
            <p>Bid- $0.00</p>
            <p>Buy now- $999.99</p>
        </div>
        <div class="col-lg-5 col-md-6 portfolio-item">
            <a href="#">
                <img src="static/test_art.jpg"
                     style="width:460px;height:300px;" alt="">
            </a>
            <hr>
            <h3>
                <a href="#">Artwork Title</a>
            </h3>
            <p>Bid- $0.00</p>
            <p>Buy now- $999.99</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 portfolio-item">
            <a href="#">
                <img src="static/test_art.jpg"
                     style="width:460px;height:300px;" alt="">
            </a>
            <hr>
            <h3>
                <a href="#">Artwork Title</a>
            </h3>
            <p>Bid- $0.00</p>
            <p>Buy now- $999.99</p>
        </div>
        <div class="col-lg-5 col-md-6 portfolio-item">
            <a href="#">
                <img src="static/test_art.jpg"
                     style="width:460px;height:300px;" alt="">
            </a>
            <hr>
            <h3>
                <a href="#">Artwork Title</a>
            </h3>
            <p>Bid- $0.00</p>
            <p>Buy now- $999.99</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% block navbar_selector %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#search").addClass("active");
        });
    </script>
{% endblock %}