{% extends "base.html" %}

{% block content %}
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="page-header">Register</h1>
        </div>
    </div>

    <!-- Projects Row -->
    <div class="row">
        <!-- register -->
        <div class="col-md-6 col-md-offset-3 portfolio-item">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/sign_up" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.username.label }} {{ form.username(class="form-control", rows=1) }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label }} {{ form.email(class="form-control", rows=1) }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }} {{ form.password(class="form-control", rows=1) }}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control", rows=1) }}
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-primary"> Register </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
