{% extends "base.html" %}

{% block content %}

<div class="row row-centered" style="padding-top: 10%">
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 col-centered">
        <h2 class="text-center"> Your art has been successfully added to the online marketplace! </h2>
    </div>
</div>
<div class="row row-centered">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-centered">
        <img class="img img-responsive" src="/../static/verification.svg" style="width: 100%">
    </div>
</div>
<div class="row row-centered">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-centered">
        <button type="submit" class="btn btn-md btn-block btn-primary" > Continue </button>
    </div>
</div>


{% endblock %}