{% extends "base.html" %}

{% block content %}
<!--suppress HtmlUnknownTarget -->
<div class="row row-centered" style="padding-top: 5%">
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-centered">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-danger hidden" id="error_panel">

                </div>
                <h2> Sell an Artwork </h2>
                <hr>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}

                    <div id="secret_panel">

                    </div>
                    <div class="hidden" id="page1">
                        <div class="row row-centered">
                            <div class="form-group">
                                <div class="text-center">
                                    <div class="img-16-9-container"><img class="img img-responsive img-16-9" src="//placehold.it/1600x900" id="artwork" ></div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-centered">
                            <div class="col-lg-8 col-md-8 col-centered">
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ form.artwork_picture(class="form-control", onchange="setImage(this)") }}
                                        <span class="input-group-addon btn btn-default" id="upload_button" onclick="uploadImage()">Upload</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.piece_name(class="form-control", placeholder="Name of Piece (Optional)", rows=1) }}
                                </div>
                                <button type="button" class="btn btn-primary btn-block" onclick="moveForward()">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="hidden" id="page2">
                        <div class="row row-centered">
                            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-centered">
                                <div class="form-group">
                                    {{ form.medium(class="form-control", placeholder="Medium (seperated by commas, e.g. canvas, oil paints)", rows=1) }}
                                </div>
                                <div class="row row-centered">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            {{ form.starting_bid(class="form-control", placeholder="Starting Bid", rows=1) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            {{ form.buy_now(class="form-control", placeholder="Buy Now Price (Optional)", rows=1) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            {{ form.width(class="form-control", placeholder="Width (in inches)", rows=1) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            {{ form.height(class="form-control", placeholder="Height (in inches)", rows=1) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.artwork_description(class="form-control", maxlength="1000", placeholder="Description (1000 characters)", rows=8) }}
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <button type="button" class="btn btn-primary btn-block" onclick="moveBackward()">Previous</button>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <button type="button" class="btn btn-primary btn-block" onclick="moveForward()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block navbar_selector %}
    <script type="text/javascript">
        var file;
        var current_page;

        var page1;
        var page2;
        var secretPanel;
        var artwork;
        var errorPanel;

        var currencyRegex = /^(\d{1,3}(,\d{3})*|(\d+))(\.\d{2})?$/

        $(document).ready(function () {
            $("#upload").addClass("active");
            current_page = 1;
            page1 = $("#page1");
            page2 = $("#page2");
            secretPanel = $("#secret_panel");
            artwork = $("#artwork");
            errorPanel = $("#error_panel");
            file = null;
            showPage1();
        });

        function showPage1() {
            page1.detach().appendTo(secretPanel).removeClass("hidden");
        }

        function showPage2() {
            page2.detach().appendTo(secretPanel).removeClass("hidden");
        }

        function hidePage1() {
            page1.detach().insertAfter(secretPanel).addClass("hidden");
        }

        function hidePage2() {
            page2.detach().insertAfter(secretPanel).addClass("hidden");
        }

        function verifyPage1() {
            return file !== null;
        }

        function verifyPage2() {
            var errorField = 0;
            if ($("#medium").val() === "") {
                errorField |= 1;
            }
            var startingBid = $("#starting_bid").val();
            if (startingBid === "" || startingBid.match(currencyRegex) === null) {
                errorField |= 2;
            }
            var width = $("#width").val();
            if (width === "" || width.match(/^\d*\.?\d+$/) === null) {
                errorField |= 4;
            }
            var height = $("#height").val();
            if (width === "" || height.match(/^\d*\.?\d+$/) === null) {
                errorField |= 8;
            }
            var description = $("#artwork_description").val();
            if (description === "") {
                errorField |= 16;
            }
            return errorField;
        }

        function displayErrors(flags) {
            errorPanel.removeClass("hidden").html("");
            var errMsg = "\
                        <p>\
                            <span class=\"glyphicon glyphicon-exclamation-sign\" aria-hidden=\"true\"></span>\
                            <span class=\"sr-only\">Error:</span> {}\
                        </p>";
            var a = flags & 1;
            var b = flags & 2;
            var c = flags & 4;
            var d = flags & 8;
            var e = flags & 16;
            if (a === 1) {
                errorPanel.append(errMsg.replace("{}", "Please provide at least one medium"));
            }
            if (b === 2) {
                errorPanel.append(errMsg.replace("{}", "Please provide a starting bid price"));
            }
            if (c === 4) {
                errorPanel.append(errMsg.replace("{}", "Please provide a width for your art"));
            }
            if (d === 8) {
                errorPanel.append(errMsg.replace("{}", "Please provide a height for your art"));
            }
            if (e === 16) {
                errorPanel.append(errMsg.replace("{}", "Please provide a description for your art"));
            }
        }

        function moveForward() {
            switch (current_page) {
                case 1:
                    if (verifyPage1()) {
                        hidePage1();
                        showPage2();
                        current_page = 2;
                        errorPanel.addClass("hidden").html("");
                    }
                    else {
                        var errMsg = "\
                        <p>\
                            <span class=\"glyphicon glyphicon-exclamation-sign\" aria-hidden=\"true\"></span>\
                            <span class=\"sr-only\">Error:</span> You must upload an image of your art first\
                        </p>";
                        errorPanel.removeClass("hidden").html(errMsg);
                        window.scrollTo(0, 0);
                    }
                    break;
                case 2:
                    var errorField = verifyPage2();
                    if (errorField === 0) {
                        submitUpload();
                    }
                    else {
                        displayErrors(errorField);
                        window.scrollTo(0, 0);
                    }
                    break;
            }
        }

        function moveBackward() {
            switch (current_page) {
                case 1:
                    break;
                case 2:
                    errorPanel.addClass("hidden").html("");
                    hidePage2();
                    showPage1();
                    current_page = 1;
                    break;
            }
        }

        function submitUpload() {
            $("form").submit();
        }

        function setImage(input) {
            if (input.files && input.files[0]) {
                file = input.files[0];
            }
            else {
                file = null;
            }
        }

        function uploadImage() {
            if (file !== null) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    artwork.attr("src", e.target.result);
                };
                reader.readAsDataURL(file);
                errorPanel.addClass("hidden").html("");
            }
            else {
                var errMsg = "\
                    <p>\
                        <span class=\"glyphicon glyphicon-exclamation-sign\" aria-hidden=\"true\"></span>\
                        <span class=\"sr-only\">Error:</span> You must choose an image of your art first\
                    </p>";
                errorPanel.removeClass("hidden").html(errMsg);
                window.scrollTo(0, 0);
            }
        }

    </script>
{% endblock %}